<div class="container-fluid base_bg">
  <div class="container main">
    <div class="new_main_wrapper">

      <h1>グループ作成</h1>

      <%= render 'form', group: @group %>

      <%= link_to '戻る', groups_path %>

    </div>
  </div>
</div>
