<div class="container-fluid base_bg">
  <div class="container main">
    <div class="user_new_wrapper">

      <h2 class="signup">新規登録！</h2>
      <%= render 'form', user: @user %>

    </div>
  </div>
</div>
