/*new*/
.user_new_wrapper {
  padding: 15px;
  text-align: center;
}
/*form*/
.user_form {
  margin: 30px auto;
}
.user_form tr {
  height: 4rem;
}
/*show*/
.user_show_table {
  margin: 40px auto;
}
.user_show_table tr {
  height: 4rem;
}
.user_show_table td {
  padding-left: 25px;
  text-align: left;
}
.new_label {
  margin: 30px;
}
.show_labels {
  margin-top: 20px;
}
.show_label {
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 20px;
}
.show_label svg {
  color: red;
}
.show_task_table {
  text-align: left;
  margin-top: 50px;
}
.user_label {
  background-color: #c0d6ff;
  padding: 3px 5px;
  border-radius: 7px;
  margin-right: 20px;
}
.show_label .user_show_label {
  margin: 0;
}
.official_label {
  background-color: #d3ffd3;
  padding: 3px 5px;
  border-radius: 7px;
}
